<nav id="sidebar">
    <ul class="list-unstyled components">
        <p class="text-center border border-dark">DASHBOARD</p>
        <li>
            <a routerLink="" >Upload PDF</a>
        </li>
        <li>
            <a routerLink="user" *ngIf="authGurd">Add User</a>
        </li>
      <!--  <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="user">User</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
            </ul>
        </li>
        -->
    </ul>
</nav>